{% extends 'admin/change_list.html' %}
{% block content_title %}
    <h1> ODATS - Stats</h1>
{% endblock %}
{% load staticfiles %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
    <script>
        var randomColorGenerator = function () {
            return '#' + (Math.random().toString(16) + '0000000').slice(2, 8);
        };
        var options = {
            responsive: true,
            maintainAspectRatio: true,
            legend: {
                position: 'left'
            },
            title: {
                display: true,
                position: 'top'
            },
            animation: {
                animateScale: true,
                animateRotate: true
            }
        };
        window.onload = function () {
            var ctx = document.getElementById("gender-chart");
            {% regroup summary.docreq|dictsort:"Doctor.full_name" by Doctor.full_name as doctor_list %}
            // {% regroup summary.organs|dictsort:"bloodgroup" by bloodgroup as bloodgroup_list %}
            // options.title.text = 'Organs by Blood Group'
            options.title.text = 'Req by Doctors'
            var lineChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: [{% for doc in doctor_list %}'{{ doc.grouper }}',{% endfor %}],
                    datasets: [{
                        data: [{% for doc in doctor_list %}'{{ doc.list|length }}',{% endfor %}],
                        backgroundColor: [{% for doc in doctor_list %}randomColorGenerator(),{% endfor %}]
                    }]
                },
                options: options
            });
            ctx = document.getElementById("language-chart");
            {% regroup summary.organs|dictsort:"type_of_organ" by type_of_organ as organ_list %}
            options.title.text = 'Organs by Type'
            lineChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: [{% for organ in organ_list %}'{{ organ.grouper }}',{% endfor %}],
                    datasets: [{
                        data: [{% for organ in organ_list %}'{{ organ.list|length }}',{% endfor %}],
                        backgroundColor: [{% for organ in organ_list %}randomColorGenerator(),{% endfor %}]
                    }]
                }, options: options
            });

             var ctx = document.getElementById("grades-chart");
             options.title.text = 'Organs by State'
            
            var lineChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ['Assigned', 'Expired', 'Available'],
                    datasets: [{
                        data: [ {{ summary.assigned|length }},
                        		{{ summary.expired|length }},
                        		{{ summary.available|length }},
                        	],
                        backgroundColor: [randomColorGenerator(),randomColorGenerator(),randomColorGenerator()]
                    }]
                },
                options: options
            });
           
        }
    </script>
{% endblock %}
{% block content %}
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <canvas id="gender-chart" style="width: 100px !important;"></canvas>
        </div>
        <div class="col-sm-4">
            <canvas id="language-chart" style="width: 100px !important;"></canvas>
        </div>
        <div class="col-sm-4">
            <canvas id="grades-chart" style="width: 100px !important;"></canvas>
        </div>
    </div>
    <hr>
    <div class="row">
    	<h3>Summary</h3>
    </div>
    <div class="row">
        <div class="col-sm-4">
           <span class="h5">No of Reqs by different Doctors</span>
           
           	{% regroup summary.docreq|dictsort:"Doctor.full_name" by Doctor.full_name as doctor_list %}
           	{% for doc in doctor_list %} 
           	<div>
           		<span class="col-sm-3">{{ doc.grouper }} </span><span>: {{ doc.list|length }}</span>
           </div>
           {% endfor %}
        </div>
        <div class="col-sm-4">
            <span class="h5">Organs based on category</span>
            {% regroup summary.organs|dictsort:"type_of_organ" by type_of_organ as organ_list %}
            {% for organ in organ_list %}
            <div>
            	<span class="col-sm-2">{{ organ.grouper }}</span><span>: {{ organ.list|length }}</span>
            </div>
            {% endfor %}
        </div>
        <div class="col-sm-4">
            <span class="h5">Status of Organs</span>
            <div>
            	<span class="col-sm-3">Available</span><span>: {{ summary.available|length }}</span>
            </div>
            <div>
            	<span class="col-sm-3">Assigned</span><span>: {{ summary.assigned|length }}</span>
            </div>
            <div>
            	<span class="col-sm-3">Expired</span><span>: {{ summary.expired|length }}</span>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 50px">
        <div class="col-sm-4">
           <span class="h5">Available Organs</span>
           
            {% regroup summary.available|dictsort:"type_of_organ" by type_of_organ as organ_list %}
            {% for organ in organ_list %}
            <div>
                <span class="col-sm-3">{{ organ.grouper }} </span><span>: {{ organ.list|length }}</span>
           </div>
           {% endfor %}
        </div>
        <div class="col-sm-4">
            <span class="h5">Expired Organs</span>
            {% regroup summary.expired|dictsort:"type_of_organ" by type_of_organ as organ_list %}
            {% for organ in organ_list %}
            <div>
                <span class="col-sm-3">{{ organ.grouper }} </span><span>: {{ organ.list|length }}</span>
           </div>
           {% endfor %}
        </div>
        <div class="col-sm-4">
            <span class="h5">Assigned Organs</span>
            {% regroup summary.assigned|dictsort:"type_of_organ" by type_of_organ as organ_list %}
            {% for organ in organ_list %}
            <div>
                <span class="col-sm-3">{{ organ.grouper }} </span><span>: {{ organ.list|length }}</span>
           </div>
           {% endfor %}
        </div>
    </div>
    <div class="row" style="padding-top: 50px">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Organ Donors
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <table class="table table-condensed table-hover">
                  <thead>
                      <th>Donor</th>
                      <th>Gender</th>
                      <th>Organ</th>
                      <th>BloodGroup</th>
                      <th>Date & Time</th>
                  </thead>
                  <tbody>
                      {% for donor in summary.donors %}
                      <tr>
                          <td>{{ donor.full_name }}</td>
                          <td>{{ donor.Gender }}</td>
                          <td>{{ donor.organ.type_of_organ }}</td>
                          <td>{{ donor.organ.bloodgroup }}</td>
                          <td>{{ donor.organ.pub_date }}</td>
                      </tr>
                      {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Organ Requestors
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <table class="table table-condensed table-hover">
                  <thead>
                      <th>Doctor</th>
                      <th>Patient</th>
                      <th>Organ</th>
                      <th>BloodGroup</th>
                      <th>Date & Time</th>
                  </thead>
                  <tbody>
                      {% for doc in summary.docreq %}
                      <tr>
                          <td>{{ doc.Doctor.full_name }}</td>
                          <td>{{ doc.Patientname }}</td>
                          <td>{{ doc.organs.type_of_organ }}</td>
                          <td>{{ doc.organs.bloodgroup }}</td>
                          <td>{{ doc.req_date }}</td>
                      </tr>
                      {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      </div>
    </div>
    
    <!-- {{ block.super }} -->
{% endblock %}
